# CBR-Medallion-Architecture-Databases
BRONZE_PROD_URI=postgresql+psycopg://username:password@host:port/bronze_database
SILVER_PROD_URI=postgresql+psycopg://username:password@host:port/silver_database
GOLD_PROD_URI=postgresql+psycopg://username:password@host:port/gold_database

# CBR-OMOP-Voca-Assets
OMOP_VOCAB_DIR='assets/vocabulary_download_v5_{111ec373-c766-4e16-ac86-c8d9e77f53ff}_1779671752599'